/bin
src/Volatility.java
*.aux
*.aux
*.toc
*.log
*.nav
*.out
Presentation/BUTEAU_WISSOCQ.pdf
Presentation/BUTEAU_WISSOCQ.aux
Presentation/BUTEAU_WISSOCQ.aux
Presentation/BUTEAU_WISSOCQ.nav
Presentation/BUTEAU_WISSOCQ.nav
Presentation/BUTEAU_WISSOCQ.nav
Presentation/BUTEAU_WISSOCQ.out
Presentation/BUTEAU_WISSOCQ.pdf
Presentation/BUTEAU_WISSOCQ.toc
Presentation/Result.aux
Presentation/Conclusion.aux
Presentation/BUTEAU_WISSOCQ.toc
Presentation/BUTEAU_WISSOCQ.synctex.gz
Presentation/BUTEAU_WISSOCQ.nav
Presentation/BUTEAU_WISSOCQ.out
Presentation/BUTEAU_WISSOCQ.pdf
Presentation/BUTEAU_WISSOCQ.synctex.gz
Presentation/BUTEAU_WISSOCQ.toc
*.aux
*.gz
Presentation/BUTEAU_WISSOCQ.synctex.gz
*.gz
